.top-nav-bar {
  background-color: rgb(47, 47, 47);
  height: 50px;
}

.top-nav-bar div {
  line-height: 50px;
}

.menu-toggle-icon {
  font-size: 1.5em;
  color: white;
}

#ros-status {
  font-size: 1.5em;
}
